@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: theme("fontFamily.sans");
  -webkit-font-smoothing: antialiased;
  background-color: #fafaf9;
}

h1,
h2,
h3 {
  font-family: theme("fontFamily.display");
}
